page-home {
    #diferente{
        color: #BF0C0C !important;
        
    }
    .color {
        
        color: #BF0C0C !important;
    }
    .color2{
    
     
     background: none !important;
     
    
}
}
