// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face{
    
    font-family: 'DenkaDemo';
    font-style: normal;
    src: url(../assets/fonts/DenkaDemo.ttf)  ;
    
}
@font-face{
    
    font-family: 'Arnoia';
    font-style: normal;
    src: url(../assets/fonts/CoinageCapsKrugerGray.ttf)  ;
    
}

ion-card-title
{
    
    font-family: 'Arnoia';
    color: #600 !important;
    font-weight: bold;
    text-align: center;
    background: #9625C8 !important;
    
    
}
ion-item{
    
     
     background: none !important;
    
}
ion-card{
    
    background: none !important;
    
}
ion-content{
    
 background: rgba(5,65,130,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(5,65,130,1) 0%, rgba(5,65,130,1) 1%, rgba(41,23,66,1) 52%, rgba(41,23,66,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(5,65,130,1)), color-stop(1%, rgba(5,65,130,1)), color-stop(52%, rgba(41,23,66,1)), color-stop(100%, rgba(41,23,66,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(5,65,130,1) 0%, rgba(5,65,130,1) 1%, rgba(41,23,66,1) 52%, rgba(41,23,66,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(5,65,130,1) 0%, rgba(5,65,130,1) 1%, rgba(41,23,66,1) 52%, rgba(41,23,66,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(5,65,130,1) 0%, rgba(5,65,130,1) 1%, rgba(41,23,66,1) 52%, rgba(41,23,66,1) 100%);
background: radial-gradient(ellipse at center, rgba(5,65,130,1) 0%, rgba(5,65,130,1) 1%, rgba(41,23,66,1) 52%, rgba(41,23,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#054182', endColorstr='#291742', GradientType=1 );

    
}

h2 {
    
    font-family: 'DenkaDemo';
    color:#BF0C0C!important;
    font-weight: bold;
}
p{
    
    font-family: 'madpakkeDEMO';
    color:#BF0C0C!important;
    font-weight: bold;
}
h3 {
    
    font-family: 'ArnoiaDisplay';
    color:#191717!important;
    font-weight: bold;
}

ion-label {
    
    color:#CB9A5A !important;
    
    
}