page-listperson {
    h2 {

        font-family: 'madpakkeDEMO';
        color:#F3C529!important;
        font-weight: bold;
        text-align: center;
    }
    .color{
    
     
     background: none !important;
     
    
}
}
